@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
}
/*Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.1em; */
    padding: 0px;
    margin: 0px;
}

body{
    background-color: purple;
}

main {
    /* background: url(../imagens/pexels-hisham-yahya-2909959.jpg); */
    background-color: white;
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 115px;
}

h1 {
    margin: 10px;
    
    
}

 h2 {
    font-weight: normal;
    font-size: small;
    text-align: justify;
    padding-left:5px;
}

span {
    color: black;
    
}

input {
    font-size: 1px;
}

#imag{   
    background: url(../imagens/pexels-hisham-yahya-2909959.jpg);
    height: 200px;
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
    
}

#eml, #pw{
    margin: 3px;
    color: white;
    border-radius: 5px;
    background-color: purple;
    padding: 3px;
}

#formi {
    padding: 6px;
}

html > body > main > form > div#form > div#pw > input#senha {
    font-size: 10px;
}

#iemail, #isenha {
    width: 240px;
    font-size: 30px;
    border-radius: 7px;
    border-style: none;
    background-color: rgba(43, 216, 216, 0.692);
}
#entrar{
    font-size: 20px;
    width: 288px;
    padding: 10px;
    margin: 4px;
    background-color: rgb(1, 151, 151);
    color: white;
    border-radius: 5px;
    border-style: none;
}

#nosenha {
    font-size: 20px;
    width: 288px;
    padding: 10px;
    margin: 4px;
    margin-bottom: 40px;
    color: rgb(1, 75, 75);
    border-radius: 5px;
    border-color: rgb(0, 136, 136);
    border-style: solid;
    border-width: 0.1px;
}


